* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}
nav {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav .main-links {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
ul {
    list-style: none;
}
a ,li {
    color: blue;
}
.menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
   
    border-left:1px solid black ;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.menu li {
    color: black;
}
.dropdown {
    position: relative;
}
.dropdown >a:focus + .menu {
    display: flex;
    column-gap: 20px;
} 
button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: blue;
}
@media only screen and (max-width:425px) {
    nav {
        height: 100vh;
        flex-direction: column;
        justify-content:space-between;
        align-items: flex-end;
    }
    nav .main-links {
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .menu {
        top: 40px;
        left: -120px;
    }
}
